main {
	.phones {
		/* background-image: url('../../public/images/auth/home-phones.png');
		background-size: 468.32px 634.15px;
		height: 581.15px;
		background-position: -46px 0;
		margin-right: 32px; */
	}
}
