.slider {
	width: 100%;
	height: 100%;
	.slides {
		width: 100%;
		height: 100%;
	}

	.controls {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 1rem;
		padding: 0.5rem 1rem;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		gap: 5px;
		button {
			@apply border-2 border-neutral-600 w-[10px] h-[10px] rounded-full transition-all duration-500;
			&.active {
				@apply w-[20px] bg-neutral-200 border-none;
			}
		}
	}

	.control_button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		padding: 0.2rem;
		@apply transition-all duration-300;
		&:hover {
			scale: 1.05;
		}
		&.next {
			right: 10px;
		}
		&.prev {
			left: 10px;
		}
	}
}
